
Set up environment variables here

MONGO_URI="<connection string here>"

GOOGLE_API="<API string here>"
CONSUMER_KEY="<add here>"
CONSUMER_SECRET="<add here>"
ACCESS_TOKEN="<add here>"
ACCESS_TOKEN_SECRET="<add here>"
BEARER_TOKEN="<add here>"