@media screen and (min-width: 1920px) {
  .login-container {
    flex-wrap: nowrap!important;
    width: 550px !important;
    margin: 3% 31%;
  }
}

@media screen and (max-width: 1919px) {
  .login-container {
    flex-wrap: nowrap!important;
    width: 550px !important;
    margin: 3% 29%;
  }
}

@media screen and (max-width: 1700px) {
  .login-container {
    flex-wrap: nowrap!important;
    width: 550px !important;
    margin: 3% 27%;
  }
}

@media screen and (max-width: 1500px) {
  .login-container {
    flex-wrap: nowrap!important;
    width: 550px !important;
    margin: 3% 25%;
  }
}

@media screen and (max-width: 1300px) {
  .login-container {
    flex-wrap: nowrap!important;
    width: 550px !important;
    margin: 3% 23%;
  }
}

.login-form-container {
  margin-top: 10px;
}

.login-email-field {
  width: 25ch
}

.login-password-field {
  width: 25ch
}

.register-button {
  background-color: #4a4b50 !important;
  width: 252px;
}

.login-clipart {
  max-width: 143%;
  margin-left: 32px;
}

.login-form-title{
  font-size: 31px;
  margin-bottom: 15px;
  color: #4a4b51;
}