.register-container {
  flex-wrap: nowrap!important;
  width: 550px !important;
  margin-left: 24%;
  margin-top: 25px;
}

.register-username-field {
  width: 25ch
}

.register-email-field {
  width: 25ch
}

.register-password-field {
  width: 25ch
}

.register-button {
  background-color: #4a4b50 !important;
  width: 252px;
}

.register-clipart {
  max-width: 157%;
  margin-left: 13px;
}

.register-clipart-container {
  margin-top: 27px !important;
}

.register-form-title{
  font-size: 31px;
  margin-bottom: 15px;
  color: #4a4b51;
}